<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Lista de Clientes</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell" id="columnas" >Nombre</div>
                <div class="mat-header-cell" id="columnas">Apellidos</div>
                <div class="mat-header-cell" id="columnas">Correo electronico</div>
                <div class="mat-header-cell" id="columnas">Telefono</div>
                <div class="mat-header-cell" id="columnas">Acciones</div>
            </div>
            <div *ngFor="let client of cliente | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell" id="columnas2" >{{client.nombre}}</div>
                <div class="mat-cell" id="columnas2">{{client.apellidoPaterno}} {{client.apellidoMaterno}}</div>
                <div class="mat-cell" id="columnas2">{{client.correoElectronico}}</div>
                <div class="mat-cell" id="columnas2">{{ client.telefono}}</div>
                <div class="mat-cell" id="columnas2">
                    <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(client)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card>

    <div *ngIf="customers.length > 0" fxLayout="row wrap">
        <div fxFlex="100">
            <mat-card class="p-0 text-center">
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>