<div fxLayout="row wrap">
    <div *ngFor="let product of productos | paginate: { itemsPerPage: count, currentPage: page }" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="p-1">
        <mat-card class="product-item product-card text-center">
            <!-- <mat-chip-list *ngIf="product.discount">
                <mat-chip color="warn" selected="true">{{product.discount}}% de descuento</mat-chip>
            </mat-chip-list>  -->
            <img [src]="product.imagenes?.[0]?.imagen" alt="imagen" class="product-image"> 
            <h4 class="category text-muted">{{ product.categoria?.nombreCategoria }}</h4>                                                                     
            <div class="title text-truncate">
                {{product.nombreProducto}}
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                <div fxLayout="column" fxLayoutAlign="center start">
                    <!-- <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p> -->
                    <p class="new-price">{{product.precioVenta | currency}}</p>
                </div>
                <!-- <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating> -->
            </div>                            
            <div class="divider mt-2"></div>
            <div class="icons">
                <a [routerLink]="['/admin/products/add-product', product.idProducto]" mat-mini-fab color="primary" matTooltip="Editar"><mat-icon>edit</mat-icon></a>
                <span class="px-1"> <a [routerLink]="['/admin/products/product-detail', product.idProducto]" mat-mini-fab color="primary" matTooltip="Ver"><mat-icon>remove_red_eye</mat-icon></a></span>
                <!-- <button mat-mini-fab color="warn" matTooltip="Remove" (click)="remove(product)"><mat-icon>delete</mat-icon></button>  -->
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="productos.length > 0" fxLayout="row wrap">
    <div fxFlex="100" class="p-1"> 
        <mat-card class="p-0 text-center">           
            <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>