<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Solicitud de retirada</h2>  
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row"> 
                <div class="mat-header-cell" id="columnas">Id Factura</div>
                <div class="mat-header-cell" id="columnas">Id Orden</div> 
                <div class="mat-header-cell" id="columnas">Tienda</div>
                <div class="mat-header-cell" id="columnas">Importe</div>  
                <div class="mat-header-cell" id="columnas">Cargos</div>  
                <div class="mat-header-cell" id="columnas">Pago</div>  
                <div class="mat-header-cell" id="columnas">Fecha</div>
                <div class="mat-header-cell" id="columnas">Acciones</div>
            </div>
            <div *ngFor="let item of withdrawal | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row"> 
                <div class="mat-cell">{{item.invoiceId}}</div> 
                <div class="mat-cell">
                    <span class="primary-text" *ngFor="let order of item.orderIds; let last=last">{{order}}<span *ngIf="!last">, </span></span>
                </div> 
                <div class="mat-cell" id="columnas2">{{ ( stores | filterById : item.storeId )?.name }}</div> 
                <div class="mat-cell" id="columnas2">${{item.amount.toFixed(2)}}</div> 
                <div class="mat-cell" id="columnas2">${{item.charges.toFixed(2)}}</div> 
                <div class="mat-cell" id="columnas2">${{item.payment.toFixed(2)}}</div>  
                <div class="mat-cell" id="columnas2">{{item.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</div>     
                <div class="mat-cell">
                    <div class="p-1 actions" id="columnas2">          
                        <button mat-mini-fab color="primary" matTooltip="Approve">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Reject">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="withdrawal.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>