<mat-card  class="p-0">

  <div class="mat-table wishlist-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Producto</div>
      <div class="mat-header-cell">Nombre</div>
      <div class="mat-header-cell">Precio</div>
      <div class="mat-header-cell">Disponibilidad</div>
      <div class="mat-header-cell">Cantidad</div>
      <div class="mat-header-cell">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()">Borrar todos</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of deseos" class="mat-row" >
      <div class="mat-cell"><img [src]="imagenSeleccionada" alt=""></div>
      <div class="mat-cell"><a class="product-name">{{product.producto.nombreProducto}}</a></div>
      <div class="mat-cell">${{product.producto.precioVenta| number : '1.2-2'}}</div>
      <div class="mat-cell">{{ (product.producto.stock > 0) ? 'Disponible':'No disponible'}}</div>
      <div class="mat-cell text-muted">
        <app-controls [producto]="product.producto" [type]="'wish'" (onQuantityChange)="getQuantity($event)"></app-controls>
      </div>
      <div class="mat-cell">
        <div class="p-1">          
          <button mat-mini-fab color="primary" (click)="addToCart(product)" matTooltip="Add to cart">
              <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Clear" class="remove">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
    </div>
  </div>

</mat-card>