<footer class=" footer">
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">
        <div class="contacto" fxFlex="100" fxFlex.gt-sm="30" fxLayout="column" fxLayoutAlign="center center"> 
            <h3 class="fw-500">¿PREGUNTAS? POR FAVOR, PÓNGASE EN CONTACTO CON NUESTRO SERVICIO DE ATENCIÓN AL CLIENTE!</h3>
            <div  fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-xs="50">
                <div class="contacto-info" fxLayout="row" fxLayoutAlign="start center">
                    <span class="material-icons circle-icon" style="font-size: 30px; color: rgb(255, 255, 255);">call</span>
                    <div class="content iconos-slide">
                        <p>56 2 2617 XXXX</p>
                        <p>Lunes / Viernes 8:30 -19:00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacto" fxFlex="100" fxFlex.gt-sm="30" fxLayout="column" fxLayoutAlign="center center"> 
            <h3 class="servicios">Servicios</h3>
            <div  fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-xs="50">
                <div class="contacto-info" fxLayout="row" fxLayoutAlign="start left">
                    <ul>
                        <li><a href="">Compra Tranquilo</a></li>
                        <li><a href="">Cambios y Devoluciones</a></li>
                        <li><a href="">Políticas de Privacidad</a></li>
                        <li><a href="">Términos y Condiciones</a></li>
                        <li><a href="">Políticas de Despacho</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contacto" fxFlex="100" fxFlex.gt-sm="30" fxLayout="column" fxLayoutAlign="center center"> 
            <h3 class="fw-500">Formas de Pago</h3>
            <div  fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-xs="50">
                <div class="contacto-info" fxLayout="row" fxLayoutAlign="start center">
                    <img src="../../../../assets/images/metodospago.png" class="metodospago" alt="">
                </div>
            </div>
        </div>
    </div>

</footer>