<div fxLayout="row wrap" class="contenido">
    <div fxFlex="100" fxFlex.gt-md="40" fxFlex.md="45" class="detalleproducto">
        <mat-card class="product-image">
            <!-- <mat-chip-list *ngIf="product?.discount">
                <mat-chip color="warn" selected="true">{{product?.discount}}% OFF</mat-chip>
            </mat-chip-list> -->
            <button mat-icon-button (click)="openZoomViewer()" fxHide="false"
                fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img class="img-producto" *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)"
                (mouseleave)="onMouseLeave($event)" />
        </mat-card>

        <div class="small-carousel">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div *ngFor="let image of producto?.imagenes" class="swiper-slide">
                        <mat-card (click)="selectImage(image.imagen)" class="p-1 card-producto">
                            <img [attr.data-src]="image.imagen" class="swiper-lazy" />
                            <div class="swiper-lazy-preloader"></div>
                        </mat-card>
                    </div>
                </div>
                <button mat-icon-button
                    class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button
                    class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="60" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

        <div #zoomViewer fxShow="false" fxShow.gt-md>
            <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18"
                [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
        </div>

        <h2 id="product-name">{{producto?.nombreProducto}}</h2>
        <div class="py-1 lh">
            <p class="descripcion-product"><span class="text-muted fw-500">Categoría:
                </span><span>{{producto?.categoria?.nombreCategoria }}</span></p>
            <p class="descripcion-product"><span class="text-muted fw-500">Inventario: </span><span>{{ (producto?.stock
                    > 0) ? (producto?.stock) : 'No disponible'}}</span></p>
        </div>
        <!-- <div class="py-1">
            <app-rating [ratingsCount]="product?.ratingsCount" [ratingsValue]="product?.ratingsValue" [direction]="'row'"></app-rating>
        </div> -->
        <p class="py-1 text-muted lh descripcion-product1">{{producto?.descripcionBreve}}</p>

        <div class="divider mt-1"></div>
        <div class="py-2">
            <!-- <h3 class="old-price text-muted"><span *ngIf="product?.oldPrice">${{product?.oldPrice | number : '1.2-2'}}</span></h3> -->
            <h2 class="new-price">{{producto?.precioVenta | currency}}</h2>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="details text-muted py-1">
            <div *ngIf="product?.color" class="color">
                <span class="fw-500">Selecciona el color:</span>
                <button mat-raised-button *ngFor="let color of product?.color"
                    [style.background]="color">&nbsp;</button>
            </div>
            <div *ngIf="product?.size" class="size" ngClass.xs="mt-1">
                <span class="fw-500">Selecciona el tamaño:</span>
                <button mat-raised-button *ngFor="let size of product?.size">{{size}}</button>
            </div>
        </div>
        <!--Aqui esta el boton del corazon -->
        <div class="py-1">
            <app-controls [producto]="producto.idProducto" [type]="'all'"></app-controls>
        </div>
        <!--Aqui ya se terminaron los botones -->


        <div class="divider"></div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted py-1">
            <button mat-button><mat-icon>mail_outline</mat-icon> Enviar por correo</button>
            <button mat-icon-button><mat-icon>share</mat-icon></button>
        </div>

    </div>

    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

        <div id="linea"></div>
        <!--Aqui empieza la tabla-->
        <div class="content info-quienes">
            <h3 id="h3">Cotiza tus cajas perzonalizadas</h3>


        </div>

        <div class="mat-table admin-table" id="tabla">
            <div class="mat-header-row">
                <div class="mat-header-cell" id="columna1">REFERENCIA</div>
                <div class="mat-header-cell" id="columna2">LARGO</div>
                <div class="mat-header-cell" id="columna3">ANCHO</div>
                <div class="mat-header-cell" id="columna4">ALTO</div>
                <div class="mat-header-cell" id="columna5">COLOR</div>
                <div class="mat-header-cell" id="columna6">MÍNIMO DE IMPRESIÓN</div>
                <div class="mat-header-cell" id="columna7">PRECIO POR UNIDAD</div>
                <div class="mat-header-cell" id="columna8">CONFIGURADOR ONLINE</div>
            </div>
            <div class="mat-row">
                <div class="mat-cell" id="columna10">K1234D</div>
                <div class="mat-cell" id="columna11">9 cm</div>
                <div class="mat-cell" id="columna12">9 cm</div>
                <div class="mat-cell" id="columna13">5.5 cm</div>
                <div class="mat-cell" id="columna14">Marrón</div>
                <div class="mat-cell" id="columna15">700</div>
                <div class="mat-cell" id="columna16">$0.40</div>
                <div class="mat-cell" id="columnasactions">
                    <div class="p-1 actions">
                        <button mat-raised-button color="primary" id="boton_imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
            <div class="mat-row">
                <div class="mat-cell" id="columna10">K1234D</div>
                <div class="mat-cell" id="columna11">9 cm</div>
                <div class="mat-cell" id="columna12">9 cm</div>
                <div class="mat-cell" id="columna13">5.5 cm</div>
                <div class="mat-cell" id="columna14">Marrón</div>
                <div class="mat-cell" id="columna15">700</div>
                <div class="mat-cell" id="columna16">$0.40</div>
                <div class="mat-cell" id="columnasactions">
                    <div class="p-1 actions">
                        <button mat-raised-button color="primary" id="boton_imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
            <div class="mat-row">
                <div class="mat-cell" id="columna10">K1234D</div>
                <div class="mat-cell" id="columna11">9 cm</div>
                <div class="mat-cell" id="columna12">9 cm</div>
                <div class="mat-cell" id="columna13">5.5 cm</div>
                <div class="mat-cell" id="columna14">Marrón</div>
                <div class="mat-cell" id="columna15">700</div>
                <div class="mat-cell" id="columna16">$0.40</div>
                <div class="mat-cell" id="columnasactions">
                    <div class="p-1 actions">
                        <button mat-raised-button color="primary" id="boton_imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
            <div class="mat-row">
                <div class="mat-cell" id="columna10">K1234D</div>
                <div class="mat-cell" id="columna11">9 cm</div>
                <div class="mat-cell" id="columna12">9 cm</div>
                <div class="mat-cell" id="columna13">5.5 cm</div>
                <div class="mat-cell" id="columna14">Marrón</div>
                <div class="mat-cell" id="columna15">700</div>
                <div class="mat-cell" id="columna16">$0.40</div>
                <div class="mat-cell" id="columnasactions">
                    <div class="p-1 actions">
                        <button mat-raised-button color="primary" id="boton_imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
            <div class="mat-row">
                <div class="mat-cell" id="columna10">K1234D</div>
                <div class="mat-cell" id="columna11">9 cm</div>
                <div class="mat-cell" id="columna12">9 cm</div>
                <div class="mat-cell" id="columna13">5.5 cm</div>
                <div class="mat-cell" id="columna14">Marrón</div>
                <div class="mat-cell" id="columna15">700</div>
                <div class="mat-cell" id="columna16">$0.40</div>
                <div class="mat-cell" id="columnasactions">
                    <div class="p-1 actions">
                        <button mat-raised-button color="primary" id="boton_imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
            <div class="mat-row">
                <div class="mat-cell" id="columna10">K1234D</div>
                <div class="mat-cell" id="columna11">9 cm</div>
                <div class="mat-cell" id="columna12">9 cm</div>
                <div class="mat-cell" id="columna13">5.5 cm</div>
                <div class="mat-cell" id="columna14">Marrón</div>
                <div class="mat-cell" id="columna15">700</div>
                <div class="mat-cell" id="columna16">$0.40</div>
                <div class="mat-cell" id="columnasactions">
                    <div class="p-1 actions">
                        <button mat-raised-button color="primary" id="boton_imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
        </div>
        <!--Aqui termina la tabla-->
    </div>

    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md>


    </div>
</div>

<br>

<div fxLayout="row wrap" class="info">
    <div fxFlex="400" fxFlex.gt-md="50" fxFlex.gt-xs="200">
        <div class="card-info" fxLayout="row" fxLayoutAlign="start center">
            <div class="content info-descripcion">
                <div class="">
                    <h3 id="title-des">Descripción</h3>
                </div>
                <p id="texto-descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus venenatis
                    ex, in congue
                    sapien ultricies in. Maecenas sagittis placerat sagittis. Nunc varius magna lorem, ac dictum quam
                    pellentesque ut. Duis ut nibh nec lacus tincidunt maximus. Nulla facilisi. Aenean eleifend vehicula
                    arcu lacinia elementum. Donec efficitur orci urna, at bibendum nulla molestie quis. Nunc fringilla
                    nibh a facilisis pharetra. Sed malesuada urna ut elementum ornare. Ut quis nisi semper, maximus
                    augue at, vestibulum quam. Cras ac ipsum vel mauris sollicitudin tempus eget a felis.</p>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="50">
        <div class="card-info" fxLayout="row" fxLayoutAlign="start center">
            <div class="content ">
                <img class="img-quienes" src="../../../../assets/images/carousel/caja9.png" alt="">
            </div>
        </div>
    </div>
</div>


<br>
<div class="divider">
    <app-cajas></app-cajas>
</div>

<div class="py-2 mt-2">
    <h2 class="text-center"></h2>
    <div class="divider">
    </div>

</div>