<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
    <button mat-stroked-button color="" id="boton_atras"> <span class="material-icons">
            keyboard_backspace
        </span> Atras </button>
    <h3 id="h3">{{product?.name}}</h3>
    <button mat-raised-button color="primary" id="boton_cotizar">Cotizar ahora</button>
</div>


<div fxLayout="row wrap">

    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

        <mat-card class="product-image">
            <mat-chip-list *ngIf="product?.discount">
                <mat-chip color="warn" selected="true">{{product?.discount}}% OFF</mat-chip>
            </mat-chip-list>
            <button mat-icon-button (click)="openZoomViewer()" fxHide="false"
                fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)" />
        </mat-card>


        <div class="small-carousel imagenesproducto"> <!--Esta no es -->
            <div class="swiper-container" [swiper]="config"> <!--Esta no es -->
                <div class="swiper-wrapper"> <!--Esta no es -->
                    <div *ngFor="let image of product?.images" class="swiper-slide">
                        <mat-card (click)="selectImage(image)" class="cardproduct">
                            <img [attr.data-src]="image.small
                                    " class="swiper-lazy imgproduct" />
                            <div class="swiper-lazy-preloader"></div>
                        </mat-card>
                    </div>
                </div>
                <button mat-icon-button
                    class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button
                    class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
        </div>

        <!--Aqui empieza la tabla-->
        <mat-card class="p-0">
            <div class="content info-quienes">
                <h3 id="h3">Cotiza tus cajas perzonalizadas</h3>
          

            </div>
            <mat-divider></mat-divider>
            <div class="mat-table admin-table">
                <div class="mat-header-row">
                    <div class="mat-header-cell" id="columna1">Referencia</div>
                    <div class="mat-header-cell" id="columna2">Largo</div>
                    <div class="mat-header-cell" id="columna3">Ancho</div>
                    <div class="mat-header-cell" id="columna4">Alto</div>
                    <div class="mat-header-cell" id="columna5">Color</div>
                    <div class="mat-header-cell" id="columna6">Mínimo de impresión</div>
                    <div class="mat-header-cell" id="columna7">Precio por unidad</div>
                    <div class="mat-header-cell" id="columna8"></div>
                    <div class="mat-header-cell" id="columna9"></div>
                </div>
                <div class="mat-row">
                    <div class="mat-cell">K1234D</div>
                    <div class="mat-cell" id="columna11">9 cm</div>
                    <div class="mat-cell" id="columna12">9 cm</div>
                    <div class="mat-cell" id="columna13">5.5 cm</div>
                    <div class="mat-cell" id="columna14">Marrón</div>
                    <div class="mat-cell" id="columna15">700</div>
                    <div class="mat-cell" id="columna16">$0.40</div>
                    <div class="mat-cell" id="columnasactions">
                        <div class="p-1 actions">
                            <button mat-raised-button color="primary" id="boton_carrito">Agregar al carrito<span
                                    class="material-icons">
                                    shopping_cart
                                </span></button>
                        </div>
                    </div>
                    <div class="mat-cell" id="columnasactions2">
                        <div class="p-1 actions">
                            <button mat-stroked-button color="" id="boton_comprar"> Comprar ahora </button>
                        </div>
                    </div>
                </div>
                <div class="mat-row">
                    <div class="mat-cell">K1234D</div>
                    <div class="mat-cell" id="columna11">9 cm</div>
                    <div class="mat-cell" id="columna12">9 cm</div>
                    <div class="mat-cell" id="columna13">5.5 cm</div>
                    <div class="mat-cell" id="columna14">Marrón</div>
                    <div class="mat-cell" id="columna15">700</div>
                    <div class="mat-cell" id="columna16">$0.40</div>
                    <div class="mat-cell" id="columnasactions">
                        <div class="p-1 actions">
                            <button mat-raised-button color="primary" id="boton_carrito">Agregar al carrito<span
                                    class="material-icons">
                                    shopping_cart
                                </span></button>
                        </div>
                    </div>
                    <div class="mat-cell" id="columnasactions2">
                        <div class="p-1 actions">
                            <button mat-stroked-button color="" id="boton_comprar"> Comprar ahora </button>
                        </div>
                    </div>
                </div>
                <div class="mat-row">
                    <div class="mat-cell">K1234D</div>
                    <div class="mat-cell" id="columna11">9 cm</div>
                    <div class="mat-cell" id="columna12">9 cm</div>
                    <div class="mat-cell" id="columna13">5.5 cm</div>
                    <div class="mat-cell" id="columna14">Marrón</div>
                    <div class="mat-cell" id="columna15">700</div>
                    <div class="mat-cell" id="columna16">$0.40</div>
                    <div class="mat-cell" id="columnasactions">
                        <div class="p-1 actions">
                            <button mat-raised-button color="primary" id="boton_carrito">Agregar al carrito<span
                                    class="material-icons">
                                    shopping_cart
                                </span></button>
                        </div>
                    </div>
                    <div class="mat-cell" id="columnasactions2">
                        <div class="p-1 actions">
                            <button mat-stroked-button color="" id="boton_comprar"> Comprar ahora </button>
                        </div>
                    </div>
                </div>
                <div class="mat-row">
                    <div class="mat-cell">K1234D</div>
                    <div class="mat-cell" id="columna11">9 cm</div>
                    <div class="mat-cell" id="columna12">9 cm</div>
                    <div class="mat-cell" id="columna13">5.5 cm</div>
                    <div class="mat-cell" id="columna14">Marrón</div>
                    <div class="mat-cell" id="columna15">700</div>
                    <div class="mat-cell" id="columna16">$0.40</div>
                    <div class="mat-cell" id="columnasactions">
                        <div class="p-1 actions">
                            <button mat-raised-button color="primary" id="boton_carrito">Agregar al carrito<span
                                    class="material-icons">
                                    shopping_cart
                                </span></button>
                        </div>
                    </div>
                    <div class="mat-cell" id="columnasactions2">
                        <div class="p-1 actions">
                            <button mat-stroked-button color="" id="boton_comprar"> Comprar ahora </button>
                        </div>
                    </div>
                </div>
                <div class="mat-row">
                    <div class="mat-cell">K1234D</div>
                    <div class="mat-cell" id="columna11">9 cm</div>
                    <div class="mat-cell" id="columna12">9 cm</div>
                    <div class="mat-cell" id="columna13">5.5 cm</div>
                    <div class="mat-cell" id="columna14">Marrón</div>
                    <div class="mat-cell" id="columna15">700</div>
                    <div class="mat-cell" id="columna16">$0.40</div>
                    <div class="mat-cell" id="columnasactions">
                        <div class="p-1 actions">
                            <button mat-raised-button color="primary" id="boton_carrito">Agregar al carrito<span
                                    class="material-icons">
                                    shopping_cart
                                </span></button>
                        </div>
                    </div>
                    <div class="mat-cell" id="columnasactions2">
                        <div class="p-1 actions">
                            <button mat-stroked-button color="" id="boton_comprar"> Comprar ahora </button>
                        </div>
                    </div>
                </div>
                <div class="mat-row">
                    <div class="mat-cell">K1234D</div>
                    <div class="mat-cell" id="columna11">9 cm</div>
                    <div class="mat-cell" id="columna12">9 cm</div>
                    <div class="mat-cell" id="columna13">5.5 cm</div>
                    <div class="mat-cell" id="columna14">Marrón</div>
                    <div class="mat-cell" id="columna15">700</div>
                    <div class="mat-cell" id="columna16">$0.40</div>
                    <div class="mat-cell" id="columnasactions">
                        <div class="p-1 actions">
                            <button mat-raised-button color="primary" id="boton_carrito">Agregar al carrito<span
                                    class="material-icons">
                                    shopping_cart
                                </span></button>
                        </div>
                    </div>
                    <div class="mat-cell" id="columnasactions2">
                        <div class="p-1 actions">
                            <button mat-stroked-button color="" id="boton_comprar"> Comprar ahora </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <!--Aqui termina la tabla-->
    </div>

    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md>


    </div>
</div>

<br>

<div fxLayout="row wrap" class="info">
    <div fxFlex="400" fxFlex.gt-md="50" fxFlex.gt-xs="200">
        <div class="card-info" fxLayout="row" fxLayoutAlign="start center">
            <div class="content info-quienes">
                <div>
                    <h3 id="h3">Descripción</h3>
                </div>
                <p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id nulla metus. Maecenas
                    commodo turpis dui, porttitor tincidunt enim mollis a. Curabitur eu velit mi. Nullam congue
                    turpis id metus sollicitudin, id cursus nulla laoreet. Proin commodo eu felis at malesuada.
                    Nulla ac facilisis justo, eget vulputate ex. Nulla nec laoreet nulla. Cras auctor leo at
                    diam congue, quis convallis urna pulvinar. Nunc ut mi nulla. Nunc ligula massa, vulputate
                    sed scelerisque sit amet, dapibus semper est. Sed sed blandit turpis. Vestibulum id
                    porttitor ligula, at iaculis ligula. Pellentesque vel tellus sit amet mauris aliquet
                    bibendum id et lorem.</p>
                <ul id="p">
                    <li>Phasellus eu justo dictum, varius eros ut, posuere sapien.</li>
                    <li>Nulla eu erat sit amet enim lobortis rhoncus.</li>
                    <li>Etiam eu mauris in massa convallis ornare non id ex.</li>
                    <li>Nam sagittis augue at pretium pharetra.</li>
                    <li>Sed a sem id massa egestas porta a sit amet felis.</li>
                    <li>Duis aliquam urna in sapien cursus consequat.</li>
                </ul>
                <p id="p">Duis eu felis ultricies urna pharetra efficitur nec non elit. Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                    posuere eu justo eget mollis. Sed semper accumsan urna vel rutrum. Nulla condimentum quis
                    lacus ut semper. Quisque at massa pretium, porta ligula ut, rutrum elit. Pellentesque et
                    orci sit amet dolor laoreet tempor sed eu sem. Morbi lacinia pellentesque tellus euismod
                    eleifend.</p>
                <p id="p">Quisque fringilla eros id ligula luctus, a gravida augue sodales. Sed eget augue
                    ut lectus condimentum volutpat. Morbi quis nunc viverra, gravida arcu quis, varius metus.
                    Praesent tincidunt ipsum est, quis molestie ligula efficitur ut. Nunc interdum erat eu
                    tortor maximus suscipit. Vivamus nec laoreet dui. Nullam dignissim laoreet metus quis
                    pretium.</p>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="50">
        <div class="card-info" fxLayout="row" fxLayoutAlign="start center">
            <div class="content ">
                <img class="img-quienes" src="../../../../assets/images/carousel/caja9.png" alt="">
            </div>
        </div>
    </div>
</div>

<br>
<div class="divider">
    <h3 id="h3">Apartado para la implementacion de Juan Carlos</h3>


</div>

<div class="py-2 mt-2">
    <h2 class="text-center"></h2>
    <div class="divider">
    </div>

</div>