.mat-card.product-image {
    padding: 6px;
    text-align: center;

    button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
    }

    img {
        max-width: 70%;

    }

    .mat-chip-list {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
    }
}

.small-carousel {
    text-align: center;
    .swiper-container {
        padding: 3%;
        height: 200px;
        color: #1AD079;

        .swiper-slide {
            color: #1AD079;
        }
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-prev {
        left: -10px;
    }

    .swiper-button-next {
        right: -10px;
    }
}
.card-producto{
    height: 60%;
}
.card-producto img{
    width: 80%;
    height: 80%;
    margin-top: 10%;
}

.mat-card.zoom-viewer {
    position: absolute;
    display: none;
    background-repeat: no-repeat;
    padding: 8px;
    z-index: 99;
}

.mt-16 {
    margin-top: 16px;
}

.details button {
    padding: 0;
    min-width: 36px;
    margin-left: 6px;
}

.mat-list.reviews {
    .mat-list-item .mat-list-avatar.review-author {
        width: 80px;
        height: 80px;
    }

    .mat-list-item .mat-line.text {
        white-space: unset;
        font-style: italic;
        margin: 10px 0;
    }
}

.full-desc {
    padding: 30px 40px;
}


@media (min-width: 1280px) {
    .mat-card.product-image img {
        cursor: zoom-in;
        cursor: url('../../../../assets/images/others/zoom.svg') 10 10, zoom-in;
    }
}

#nombre_producto {
    /* Nombre de Producto */
    width: 370px;
    height: 41px;
    /* Headline Text - H3 */
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */
    text-align: center;
    /* Secondary Color */
    color: #283434;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*#personalizadas {
    /* Cotiza tu cajas personalizadas 
    position: absolute;
    width: 555px;
    height: 57px;
    left: 455px;
    top: 985px;
    /* Headline Text - H3 
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* or 125% 
    text-align: center;
    /* Secondary Color 
    color: #283434;
}*/


#columna1 {
    margin-left: 0%;
    color: #1AD079;
}

#columna2 {
    margin-left: -9%;
    color: #1AD079;
}

#columna3 {
    margin-left: -9%;
    color: #1AD079;
}

#columna4 {

    margin-left: -8%;
    color: #1AD079;
}

#columna5 {
    margin-left: -10%;
    color: #1AD079;

}

#columna6 {

    margin-left: -10%;
    color: #1AD079;


}

#columna7 {
    margin-left: -4%;
    color: #1AD079;

}

#columna8 {
    margin-left: -5%;
}

#columna9 {
    margin-left: -5%;
}


#columna11 {
    margin-left: -10%;
}

#columna12 {
    margin-left: -10%;
}

#columna13 {
    margin-left: -10%;


}

#columna14 {
    margin-left: -10%;


}

#columna15 {
    margin-left: -8%;


}

#columna16 {
    margin-left: -8%;


}

#columnasactions {
    margin-left: -10%;

    color: #1AD079;

}

#columnasactions2 {
    margin-left: -2%;


}

#boton_cotizar {
    background-color: #1AD079;
    min-width: 10px;
    margin-right: 5%;
}

#boton_carrito {
    background-color: #1AD079;
    min-width: 10px;
    margin-right: 10px;
    margin-right: 30%;
}

#boton_comprar {
    background-color: #FCFCFC;
    border-color: #1AD079;
    margin-left: 0%;
    width: 80%;
    color: #1E1E1E;
    text-align: center;
}

#boton_atras {
    background-color: #FCFCFC;
    border-color: #1AD079;
    margin-left: 5%;
    color: #1E1E1E;
    text-align: center;
}

.swiper-lazy {
    width: 50%;
    height: 5%;
}

.imgproduct {
    Width: 100px;
    Height: 100px;
    margin-top: 35px;
}

.imagenesproducto {
    margin-left: 400px;
    margin-bottom: 30px;
}

.cardproduct {
    height: 200px;
    width: 200px;

}

#cc {


    width: 555px;
    height: 57px;
    left: 455px;
    top: 985px;
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #283434;

}

#h3 {


    /* Headline Text - H3 */
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #283434;

}

#p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.1px;
    font-feature-settings: 'ss02' on;
    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.info {
    margin-top: 50px;
}

.card-info {
    margin-top: 50px;
    padding: 50px;
}

#texto-descripcion {
    margin-top: 20px;
    text-align: justify;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

#title-des {
    align-items: start;
    font-family: Calistoga;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
}

.info-descripcion {
    padding: 40px;
}

#linea {
    height: 30px;
    border-bottom: 1px solid #1AD079;
    margin-bottom: 40px;
}

.tabla-card {
    background-color: transparent;
}

.detalleproducto {}

.contenido {
    margin-top: 40px;
}

.product-image {
    margin-left: 40px;
}

.small-carousel {
    margin-left: 30px;
}

#product-name {
    font-family: Calistoga;
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;

}

.descripcion-product {
    //styleName: Body 3;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.descripcion-product1 {
    //styleName: Body 3;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}