<h1 mat-dialog-title>Color</h1>
<form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div fxLayout="row wrap">
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>
            </div> 
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="descripcion" maxlength="100" cols="30" rows="10" (input)="updateCharsCount($event.target.value)" required></textarea>
                    <p class="text-right">{{ charsWritten }}/{{ maxChars }}</p>
                </mat-form-field>
            </div> 
            <div fxFlex="100">   
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="estatus">
                        <mat-option value="Activo">Activo</mat-option>
                        <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div> 
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled] = "form.invalid" >Guardar</button>
        </div> 
    </div>
</form>