<h1 mat-dialog-title>Oferta</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="user-form">
    <div mat-dialog-content> 
        <mat-tab-group class="tab-content-wrapped">
            <mat-tab > 
                <div fxLayout="row wrap" class="mt-2">
                    <!--Producto-->
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Producto</mat-label>
                            <mat-select formControlName="discountType">
                                <mat-option [value]="">-</mat-option>
                                <mat-option *ngFor="let type of data.discountTypes" [value]="type.id">
                                    <span>{{type.name}}</span>
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div>
                    <!--Tipo de Oferta-->
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tipo Oferta</mat-label>
                            <input matInput formControlName="tipoOferta" required>
                        </mat-form-field>
                    </div>
                    <!--Descuento en Porcentaje-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>DescuentoEnPorcentaje</mat-label>
                            <input class="inputRol" type="number" matInput formControlName="descuentoEnPorcentaje" required>
                        </mat-form-field>
                    </div>
                    <!--Fecha Inicio-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>FechaInicio</mat-label>
                            <input class="inputRol" matInput formControlName="fechaInicio" required type="datetime-local">
                        </mat-form-field>
                    </div>
                    <!--Fecha Fin-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>FechaFin</mat-label>
                            <input class="inputRol" matInput formControlName="fechaFin" required type="datetime-local">
                        </mat-form-field>
                    </div>
                    <!--Codigo de Oferta-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Codigo de Oferta</mat-label>
                            <input class="inputRol" matInput formControlName="codigoOferta" required>
                        </mat-form-field>
                    </div>
                    <!--Descripcion-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Descripcion</mat-label>
                            <input class="inputRol" matInput formControlName="descripcion" required>
                        </mat-form-field>
                    </div>
                    <!--Condiciones de Oferta-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>CondicionesOferta</mat-label>
                            <input class="inputRol" matInput formControlName="condicionesOferta" required>
                        </mat-form-field>
                    </div>
                    <!--Numero de Uso-->
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>NumeroUso</mat-label>
                            <input class="inputRol" type="number" matInput formControlName="numeroUso" required>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group> 
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </div> 
    </div>
</form>