<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <div class="header-faqs" fxFlex="100" fxFlex.gt-xs="100">
    <img class="img-faqs" src="../../../assets/images/Faqs.jpg" alt="">
  </div>
  <div class="fondo-info"></div>
  <div fxFlex="100" fxFlex.gt-xs="33.3">
    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
      <h2 class="titulo-acordeon">FAQs</h2>
    </div>
  </div>
  <div fxLayout="row wrap" class="info-acordeon">
    <mat-accordion class="acordeon">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. ultricies in.?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus venenatis ex, in congue sapien ultricies
          in. Maecenas sagittis placerat sagittis. Nunc varius magna lorem, ac dictum quam pellentesque ut. Duis ut nibh
          nec lacus tincidunt maximus. Nulla facilisi. Aenean eleifend vehicula arcu lacinia elementum. Donec efficitur
          orci urna, at bibendum nulla molestie quis. Nunc fringilla nibh a facilisis pharetra. Sed malesuada urna ut
          elementum ornare. Ut quis nisi semper, maximus augue at, vestibulum quam. Cras ac ipsum vel mauris
          sollicitudin tempus eget a felis.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. ultricies in.?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus venenatis ex, in congue sapien ultricies
          in. Maecenas sagittis placerat sagittis. Nunc varius magna lorem, ac dictum quam pellentesque ut. Duis ut nibh
          nec lacus tincidunt maximus. Nulla facilisi. Aenean eleifend vehicula arcu lacinia elementum. Donec efficitur
          orci urna, at bibendum nulla molestie quis. Nunc fringilla nibh a facilisis pharetra. Sed malesuada urna ut
          elementum ornare. Ut quis nisi semper, maximus augue at, vestibulum quam. Cras ac ipsum vel mauris
          sollicitudin tempus eget a felis.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. ultricies in.?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus venenatis ex, in congue sapien ultricies
          in. Maecenas sagittis placerat sagittis. Nunc varius magna lorem, ac dictum quam pellentesque ut. Duis ut nibh
          nec lacus tincidunt maximus. Nulla facilisi. Aenean eleifend vehicula arcu lacinia elementum. Donec efficitur
          orci urna, at bibendum nulla molestie quis. Nunc fringilla nibh a facilisis pharetra. Sed malesuada urna ut
          elementum ornare. Ut quis nisi semper, maximus augue at, vestibulum quam. Cras ac ipsum vel mauris
          sollicitudin tempus eget a felis.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. ultricies in.?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus venenatis ex, in congue sapien ultricies
          in. Maecenas sagittis placerat sagittis. Nunc varius magna lorem, ac dictum quam pellentesque ut. Duis ut nibh
          nec lacus tincidunt maximus. Nulla facilisi. Aenean eleifend vehicula arcu lacinia elementum. Donec efficitur
          orci urna, at bibendum nulla molestie quis. Nunc fringilla nibh a facilisis pharetra. Sed malesuada urna ut
          elementum ornare. Ut quis nisi semper, maximus augue at, vestibulum quam. Cras ac ipsum vel mauris
          sollicitudin tempus eget a felis.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="division"></div>
  <div class="contacto-div" fxFlex="100" fxFlex.gt-xs="50">
    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
      <h3 class="w-100 py-2 contacto">Contáctanos</h3>
      <p class="info-contacto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odit nihil aspernatur, incidunt dolorum nostrum
        provident ut impedit vel, quo vero, voluptates neque earum fugiat amet molestias repellendus nemo. Aliquid, eos?
        Veniam quo earum odio aliquid, distinctio ipsam eos dolorum officia molestias at exercitationem quod blanditiis
        quibusdam similique eaque! Molestiae, sapiente reprehenderit ad omnis deleniti tempore perspiciatis ipsum
        aspernatur praesentium ipsa.</p>
    </div>
  </div>
  <div fxFlex="100" class="form-div" fxFlex.gt-xs="50" ngClass.xs="mt-2">
    <div fxLayout="column" fxLayoutAlign="center center">
      <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="40" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="contactForm.controls.name.errors?.required">Name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Phone" formControlName="phone" required>
            <mat-error *ngIf="contactForm.controls.phone.errors?.required">Phone is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="80" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="contactForm.controls.email.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="80" class="px-1 mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mensaje</mat-label>
            <textarea matInput placeholder="Message" formControlName="message" required rows="7"></textarea>
            <mat-error *ngIf="contactForm.controls.message.errors?.required">Message is required</mat-error>
          </mat-form-field>
        </div>
        <div class="w-100 py-2 text-center">
          <button class="contacto-btn" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>