<div fxLayout="row wrap" class="flex-wrapper">
  <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100" class="col">
    <mat-card class="p-0">
      <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
        <mat-card-title class="m-0">
          <h3>Informacion de su cuenta</h3>
        </mat-card-title>
        <a mat-icon-button routerLink="/account/information"><mat-icon class="text-muted">edit</mat-icon></a>
      </mat-card-header>
      <div class="divider"></div>
      <mat-card-content class="p-2 text-muted account-card-content">
        <p class="datos-cliente">{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</p>
        <p class="datos-cliente">{{cliente.correoElectronico}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100" class="col">
    <mat-card class="p-0">
      <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
        <mat-card-title class="m-0">
          <h3>Direcciones</h3>
        </mat-card-title>
      </mat-card-header>
      <div class="divider"></div>
      <mat-card-content class="p-2 text-muted account-card-content direccion">
        <mat-tab-group>
          <mat-tab *ngFor="let direccion of direcciones" label="{{direccion.nombreDireccion}}">
            <div class="contenido">
              <p  class="datos"><b>Ciudad: </b>{{direccion.ciudad}}</p>
              <p  class="datos"><b>Calle: </b>{{direccion.calle}}</p>
              <p  class="datos"><b>Numero: </b>{{direccion.numeroExterior}}</p>
              <p  class="datos"><b>Colonia: </b>{{direccion.colonia}}</p>
              <p  class="datos"><b>CP: </b>{{direccion.codigoPostal}}</p>

            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>