<h1 mat-dialog-title>Oferta</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off" class="user-form">
    <div mat-dialog-content>
        <div fxLayout="row wrap" class="mt-2">
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Tipo Oferta</mat-label>
                    <input class="inputRol"  matInput formControlName="tipoOferta" required>
                </mat-form-field>
            </div>
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>DescuentoEnPorcentaje</mat-label>
                    <input class="inputRol" matInput formControlName="descuentoEnPorcentaje" required>
                </mat-form-field>
            </div>
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>FechaInicio</mat-label>
                    <input class="inputRol" matInput formControlName="fechaInicio" required type="datetime-local">
                </mat-form-field>
            </div>
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>FechaFin</mat-label>
                    <input class="inputRol" matInput formControlName="fechaFin" required type="datetime-local">
                </mat-form-field>
            </div>            
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Codigo de Oferta</mat-label>
                    <input class="inputRol" matInput formControlName="codigoOferta" required>
                </mat-form-field>
            </div>
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripcion</mat-label>
                    <input class="inputRol" matInput formControlName="descripcion" required>
                </mat-form-field>
            </div>
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>CondicionesOferta</mat-label>
                    <input class="inputRol" matInput formControlName="condicionesOferta" required>
                </mat-form-field>
            </div>
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>NumeroUso</mat-label>
                    <input class="inputRol" matInput formControlName="numeroUso" required>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="40" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="estatus" required [value]="formulario.controls['estatus'].value">
                        <mat-option [value]="1">Activo</mat-option>
                        <mat-option [value]="0">Inactivo</mat-option>
                      </mat-select>                      
                </mat-form-field>
            </div>
            
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </div>
</form>