<!--
<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Lista de Categorias</h2>
            <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">Añadir Categoria</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row" id="tabla">
                <div class="mat-header-cell" id="columnas">Nombre</div>
                <div class="mat-header-cell" id="columnas">Descripcion</div>
                <div class="mat-header-cell" id="columnas">Estatus</div>
                <div class="mat-header-cell"></div>
            </div>
            <div *ngFor="let categoria of categorias | paginate: { itemsPerPage: count, currentPage: page }"
                class="mat-row">
                <div class="mat-cell" id="columnas2">{{categoria.nombreCategoria}}</div>
                <div class="mat-cell" id="columnas2">{{categoria.descripcionCategoria}}</div>
                <div class="mat-cell" id="columnas2">{{categoria.estatus === 1 ? 'Activo' : 'Inactivo'}}</div>
                <div class="mat-cell">
                    <div class="p-1 actions">
                        <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCategoryDialog(categoria)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(categoria)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </mat-card>

    <div *ngIf="categorias.length > 0" fxLayout="row wrap">
        <div fxFlex="100">
            <mat-card class="p-0 text-center">
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>
-->
<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Opciones de la Tienda</h2>   
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row"> 
                <div class="mat-header-cell status" id="columnas"></div> 
                <div class="mat-header-cell image" id="columnas">Imagen</div>
                <div class="mat-header-cell" id="columnas">Autor</div>
                <div class="mat-header-cell" id="columnas">Comentario</div>
                <div class="mat-header-cell ratings" id="columnas">Valoración</div> 
                <div class="mat-header-cell" id="columnas">Tienda</div> 
                <div class="mat-header-cell" id="columnas">Fecha</div>
                <div class="mat-header-cell" id="columnas">Acciones</div>
            </div>
            <div *ngFor="let review of reviews | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row"> 
                <div class="mat-cell status">
                    <mat-icon [color]="(review.statusId == 1) ? 'primary' : 'warn'" [matTooltip]="( statuses | filterById : review.statusId )?.name">{{ (review.statusId == 1) ? 'check_circle' : 'access_time' }}</mat-icon>
                </div> 
                <div class="mat-cell image">
                    <img [src]="review.image" alt="" width="50">
                </div> 
                <div class="mat-cell"  id="columnas2">{{review.author}}</div>
                <div class="mat-cell" id="columnas2">{{review.comment}}</div>
                <div class="mat-cell ratings" id="columnas2">
                    <app-rating [ratingsCount]="review?.ratingsCount" [ratingsValue]="review?.ratingsValue" [showText]="false" [direction]="'row'"></app-rating>
                </div> 
                <div class="mat-cell" id="columnas2">{{ ( stores | filterById : review.storeId )?.name }}</div>  
                <div class="mat-cell" id="columnas2">{{review.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</div>     
                <div class="mat-cell" id="columnas2">
                    <div class="p-1 actions" id="columnas2">  
                        <button *ngIf="review.statusId == 1" mat-mini-fab color="primary" matTooltip="UnApprove" (click)="unApprove(review)">
                            <mat-icon>undo</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(review)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="reviews.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>