/*table {
    width: 100%;
    border-collapse: collapse;
    
  }

  
  th,
  td {
    padding: 8px;
    text-align: left;
    border: none;
  }

  
  
  .example-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  

   .mat-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding: 12px 0;
    line-height: 40px;
    
   
  }

  .mat-header-cell,
  .mat-cell {
    flex: 1 1 20%;
    padding: 0.5rem;
    
  }
  
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0;
   
    border-bottom-style: unset;
  }
  
  .mat-column-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .no-shadow{
    box-shadow: none !important;
  }
  
  table tr {
    cursor: pointer;
  }
  
  .form-group{
    margin:15px;
    width: 100%;
    background-color: white !important;
  }
  
  .input-buscar{
    background-color: #fff !important;
  }
  */
    #columnas{
    
    color: #fff;
    text-align: center;
    
}
#columnas2{
text-align: center;

}
.mat-header-row
{
  background-color: #1877d2;
  
}
  
