<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Lista de Ofertas</h2>  
            <button mat-raised-button color="primary" (click)="openCouponDialog(null)">Añadir Oferta</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell" id="columnas">Codigo de Oferta</div>
                <div class="mat-header-cell" id="columnas">Tipo de Oferta</div> 
                <div class="mat-header-cell" id="columnas">Descuento</div>
                <div class="mat-header-cell" id="columnas">Descripcion</div>
                <div class="mat-header-cell" id="columnas">Fecha Fin<caption></caption></div>
                <div class="mat-header-cell" id="columnas">Estatus</div>
            </div>

            <div *ngFor="let oferta of ofertasProducto | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell" id="columnas2">{{oferta.codigoOferta}}</div>
                <div class="mat-cell" id="columnas2">{{oferta.tipoOferta}}</div>
                <div class="mat-cell" id="columnas2">{{oferta.descuentoEnPorcentaje}}</div>
                <div class="mat-cell" id="columnas2">{{oferta.descripcion}}</div> 
                <div class="mat-cell" id="columnas2">{{oferta.fechaFin}}</div> 
                <div class="mat-cell" id="columnas2">
                    <div class="p-1 actions">          
                        <button class="button-estatus" [ngClass]="{'activo': oferta.estatus === 1, 'inactivo': oferta.estatus === 0}"
                    (click)="cambiarestatusoferta(oferta)">{{oferta.estatus === 1 ? 'Activa' : 'Inactiva'}}</button> 
                       
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="coupons.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>