<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Soporte de Tickets</h2>   
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row"> 
                <div class="mat-header-cell" id="columnas">Ticket</div>
                <div class="mat-header-cell" id="columnas">Categoria</div>
                <div class="mat-header-cell" id="columnas">Problema</div>
                <div class="mat-header-cell" id="columnas">Artículo</div>
                <div class="mat-header-cell" id="columnas">Cliente</div> 
                <div class="mat-header-cell" id="columnas">Tienda</div>
                <div class="mat-header-cell" id="columnas">Estatus</div>  
                <div class="mat-header-cell" id="columnas">Fecha</div>
                <div class="mat-header-cell" id="columnas">Acciones</div>
            </div>
            <div *ngFor="let ticket of tickets | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row"> 
                <div class="mat-cell" id="columnas2">{{ticket.code}}</div> 
                <div class="mat-cell" id="columnas2">{{ ( spportCategories | filterById : ticket.supportCategoryId )?.name }}</div> 
                <div class="mat-cell" id="columnas2">{{ticket.issue}}</div>
                <div class="mat-cell" id="columnas2">Order {{ticket.order}}</div>
                <div class="mat-cell" id="columnas2">{{ticket.customer}}</div> 
                <div class="mat-cell" id="columnas2">{{ ( stores | filterById : ticket.storeId )?.name }}</div> 
                <div class="mat-cell" id="columnas2">{{ ( statuses | filterById : ticket.statusId )?.name}}</div> 
                <div class="mat-cell" id="columnas2">{{ticket.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</div>     
                <div class="mat-cell" id="columnas2">
                    <div class="p-1 actions" id="columnas2">          
                        <button mat-mini-fab color="primary" matTooltip="Reply">
                            <mat-icon>reply_all</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(ticket)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="tickets.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>