.button-estatus {
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  color: #fff;
  font-weight: bold;
}

.activo {
  background-color: #1876d2;
}

.inactivo {
  background-color: #ff5252;
}
#columnas{
    
  color: #fff;
  text-align: center;
  
}
#columnas2{
text-align: center;

}
.mat-header-row
{
background-color: #1877d2;

}