<app-main-carousel [slides]="slides"></app-main-carousel> 

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
            <div class="content">
                <p>RECOMPENSAS </p> 
                <span class="text-muted m-0">Compra con nosotros y obtén recompensas</span>
            </div> 
        </mat-card> 
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
            <div class="content">
                <p>ENVÍOS GRATIS</p> 
                <span class="text-muted m-0">Envíos gratis en pedidos mayores a $500 MX</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
            <div class="content">
                <p>GARANTÍA DE DEVOLUCIONES</p> 
                <span class="text-muted m-0">30 Días de garantía en tus devoluciones</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
            <div class="content">
                <p>SOPORTE ONLINE 24/7</p> 
                <span class="text-muted m-0">Llámanos (+40) 762 321 762</span>
            </div> 
        </mat-card>
    </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">  

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
       
        <mat-tab label="Featured">           
           <app-products-carousel [products]="featuredProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="On Sale">
           <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab>
    </mat-tab-group> 


</div>

<!-- <app-brands-carousel [brands]="brands"></app-brands-carousel>  -->