.products-tabs {
    margin-top: 30px;
}


.circle-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: #1AD079;
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin-right: 10px;
}


.iconos-slide {
    //styleName: Subtitle  4- Subtitle text;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.info-quienes h3 {

    font-family: Calistoga;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;

}

.info-quienes p {

    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: justify;

}

.info-quienes {
    margin-left: 70px;
    margin-right: 100px;
}

.info {
    margin-top: 30px;
    background-color: transparent;
    margin-bottom: 400px;
}

.info-somos {
    margin-top: 200px;
    background-color: transparent;
    margin-bottom: 200px;
}

.info-bar {
    margin-top: 100px;
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 200px;
}


.img-quienes {
    width: 600px;
    height: 320px;
    border-radius: 20px;
}

.img-somos {
    margin-left: 20px;
    width: 500px;
    height: 600px;
}

.info-btn {
    margin-top: 20px;
    width: 35%;
    height: 40px;
    background-color: #1AD079;
    border-radius: 10px;
    color: #fff;
    border-color: white;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.001em;
    text-align: center;
    border: none;


}

.rectangulo1 {
    margin-top: -350px;
    margin-left: -34px;
    width: 1000px;
    height: 300px;
    background-color: #1AD079;
}

.rectangulo2 {
    margin-top: -600px;
    position: absolute;
    margin-left: -100px;
    width: 200px;
    height: 150px;
    background: #CBE6D2;
}

.rectangulo3 {
    position: absolute;
    width: 300px;
    height: 200px;
    margin-bottom: -400px;
    margin-left: 450px;
    background-color: #1AD079;
}

.rectangulo4 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-bottom: -200px;
    margin-left: 520px;
    background: #CBE6D2;
}

.info-beneficios {
    margin-top: 60px;
    background-color: transparent;
    margin-bottom: 400px;
}

.beneficios {
    margin-top: -10px;
    font-family: Calistoga;
    font-size: 52px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: center;

}

.example-card {

    align-self: center;
    border-radius: 20px;
}

.info-beneficios mat-card {
    position: relative;
    margin: 15px;
    z-index: 1;
}

.header-card {
    margin-left: 25%;
    margin-top: 70px;
}

.title-card {
    margin-top: 20px;
    margin-left: 30%;
    //styleName: Subtitle 2  - Subtitle text;
    font-family: IBM Plex Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #1AD079;
    margin-bottom: 30px;
}

.sub-card {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}

.fondo-info {
    position: relative;
    width: 102.5%;
    margin-left: -16px;
    height: 1000px;
    margin-top: -600px;
    /* Primary Color - Light */

    background: #CBE6D2;
}
.acordeon{
    width: 95%;
    border-radius: 40px;
    margin-left: 2.5%;
}
.info-acordeon{
    margin-top: -560px;
    background-color: transparent;
    margin-bottom: 400px;
    align-items: center;
    
}
mat-panel-title{
    //styleName: Subtitle 3- Subtitle text;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.001em;
text-align: left;
margin-left: 2.5%;
}
mat-expansion-panel p{
//styleName: Body 3;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.10000000149011612px;
text-align: left;
width: 90%;
margin-left: 2.5%;

}
.titulo-acordeon{
    position: absolute;
    margin-top: -650px;
    font-family: Calistoga;
    font-size: 52px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    margin-left: 600px;
}