<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Lista de Categorias</h2>
            <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">Añadir Categoria</button>
            <div class="checkbox">
                <input id="checkbox1" type="checkbox" class="styled-checkbox1" (click)="filtrarTodos()"/>
                <label for="checkbox1" class="styled-label1">Ver Todos</label>
            </div>
            <div class="checkbox">
                <input id="checkbox" type="checkbox" class="styled-checkbox" (click)="filtrarActivos()"/>
                <label for="checkbox" class="styled-label">Ver Activos</label>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row" id="tabla">
                <div class="mat-header-cell" id="columnas">Nombre</div>
                <div class="mat-header-cell" id="columnas">Descripcion</div>
                <div class="mat-header-cell" id="columnas">Estatus</div>
                <div class="mat-header-cell"></div>
            </div>
            <div *ngFor="let categoria of categorias | paginate: { itemsPerPage: count, currentPage: page }"
                class="mat-row">
                <div class="mat-cell" id="columnas2">{{categoria.nombreCategoria}}</div>
                <div class="mat-cell" id="columnas2">{{categoria.descripcionCategoria}}</div>
                <div class="mat-cell" id="columnas2">{{categoria.estatus === 1 ? 'Activo' : 'Inactivo'}}</div>
                <div class="mat-cell">
                    <div class="p-1 actions">
                        <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCategoryDialog(categoria)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(categoria)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </mat-card>

    <div *ngIf="categorias.length > 0" fxLayout="row wrap">
        <div fxFlex="100">
            <mat-card class="p-0 text-center">
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>