<h1 mat-dialog-title>Categoria</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off" class="user-form">
    <div mat-dialog-content>
        <div fxLayout="row wrap" class="mt-2">
            <div fxFlex="600" fxFlex.gt-md="60" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input class="inputCategoria" matInput formControlName="nombre" required>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="40" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="estatus" required [value]="formulario.controls['estatus'].value">
                        <mat-option [value]="1">Activo</mat-option>
                        <mat-option [value]="0">Inactivo</mat-option>
                      </mat-select>                      
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="100" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripcion</mat-label>
                    <input class="inputCategoria" matInput formControlName="descripcion" required>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Detalles</mat-label>
                    <input class="inputCategoria" matInput formControlName="detalles" required>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Codigo de Referencia</mat-label>
                    <input class="inputCategoria" matInput formControlName="codigo" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </div>
</form>