<h1 mat-dialog-title><span *ngIf="!user.idUsuario">Agregar</span><span *ngIf="user.idUsuario">Editar</span> usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="Credenciales">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> Correo electronico</mat-placeholder>
                        <input matInput formControlName="correoElectronico" required>
                        <mat-error *ngIf="form.controls.correoElectronico.errors?.required">El correo es requerido</mat-error>
                        <!-- <mat-error *ngIf="form.controls.username.hasError('minlength')">Username isn't long enough, minimum of 5 characters</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>vpn_key</mat-icon> Contraseña</mat-placeholder>
                        <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}" [type]="passwordHide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.password.errors?.required">La contraseña es requerida</mat-error>
                        <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Personal">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Nombre" formControlName="nombreUsuario" required>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno" required>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Apellido materno" formControlName="apellidoMaterno">
                    </mat-form-field>
                    <div fxFlex="40" class="px-2"> 
                        <p class="mt-1"><span class="uppercase fw-500">Foto</span></p>  
                        <input-file formControlName="bytesImagen" fileLimit="1" fileAccept="image/*"></input-file>  
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Rol">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Rol</mat-label>
                        <mat-select  [(ngModel)]="_rol" [ngModelOptions]="{standalone: true}" required>
                            <mat-option *ngFor="let rol of _rolesLista" [value]="rol.idRol">{{rol.nombreRol}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Estatus" >
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Estatus</mat-label>
                        <mat-select formControlName="estatus" required>
                            <mat-option [value]="1">Activo</mat-option>
                            <mat-option [value]="0">Inactivo</mat-option>
                        </mat-select>
                    </mat-form-field></div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="primary" (click)="enviarDatos(form.value)" ><span *ngIf="!user.idUsuario">Guardar</span><span *ngIf="user.idUsuario">Actualizar</span></button>
        <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    </div> 
</div>