.container{
    background-color: #CBE6D2;
}
.scene-container {
    width: 100%;
    height: 600px;

  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
 .formularios{
    margin-top: 40px;
    padding: 10%;  
    background-color: white;
 }
.card-form{
  
}