.review-order-table.mat-table {
    display: block;
    overflow-x:auto;
    .mat-row, .mat-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
        min-width: 760px;
    }
    .mat-row{
        min-height: 60px;
    }
    .mat-cell, .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
    .mat-header-cell {
        font-size: 14px;
    }
    .mat-cell{
        img{
            width: 60px;
        }
    }
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

.mat-radio-button{
    height: auto !important;
    padding-right: 5%;
    min-width: 10%;
}
.paypal{
    margin-top: 5%;
    text-align: center;
}
.paypal ngx-paypal {
    margin-top: 10px
}